* {
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans';
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    display: flex;
    padding: 0rem 2rem;
}

/*** header and brand ***/

.brand {
    height: 6rem;
    align-items: center;
}

.brand img {
    height: 30%;
}
/*** hero ***/
.hero {

}

.hero img {
    width: 100%;
    height: 100%;
}

/*** landing ***/
.landing {
    flex-direction: column;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.fancy {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.description {
    color: hsl(0, 36%, 70%);
    line-height: 1.5;
    margin-top: .5rem;
    text-align: center;
}

/*** news letter/ email input ***/
.news-letter {
    align-items: center;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 2rem;
    display: flex; 
    height: 3rem;
    justify-content: space-between;
}

.news-letter input[type="email"] {
    border: none;
    outline: none;
    margin-left: 1rem;
    width: 40%;
}

.news-letter input[type="email"]::placeholder {
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans';
    font-weight: 300;
}

.news-letter button {
    background-image: url(../images/icon-arrow.svg), linear-gradient(to right,  hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    background-position: center;
    border-radius: 24px;
    background-repeat: no-repeat;
    border: none;
    height: 100%;
    margin: 0;
    width: 4rem;
}
